.ipynb_checkpoints/notebook-checkpoint.ipynb
data/.ipynb_checkpoints/total_crime_in_cleveland-checkpoint.png
data/.ipynb_checkpoints/violent_crime_in_cleveland-checkpoint.png
data/tracts/.ipynb_checkpoints/2010-checkpoint.png
data/tracts/.ipynb_checkpoints/2010tract_to_2020_tract_relationships-checkpoint.txt
data/tracts/.ipynb_checkpoints/2020-checkpoint.png
